@font-face
{
	font-family: 'Fontawesome';
	src: local('Fontawesome'), local('Fontawesome'), url('/fonts/fa-brands-400.woff') format('woff');
}

@font-face
{
	font-family: 'Fontawesome';
	src: local('Fontawesome'), local('Fontawesome'), url('/fonts/fa-regular-400.woff') format('woff');
}

@font-face
{
	font-family: 'Fontawesome';
	src: local('Fontawesome'), local('Fontawesome'), url('/fonts/fa-solid-900.woff') format('woff');
}

body,
html
{
	background: #fff;
	font-family: 'Roboto', sans-serif;
	color: #383838;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

ul, ol, li, dl, dt, dd, p,
h1, h2, h3, h4, h5, h6,
input, textarea,
button
{
	margin: 0;
	padding: 0;
}

li
{
	list-style: none;
}

input, textarea, button
{
	background: transparent;
	color: #383838;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

a, input, textarea,
button, img, iframe
{
	border: 0;
}

a > img
{
	display: block;
}

.row
{
	display: table;
	width: 100%;
}

.row > .col
{
	display: table-cell;
	vertical-align: top;
}

.row.c2 > .col
{
	width: 50%;
}

#screens
{
	width: 100%;
	min-width: 320px;
	margin-left: 0;
	position: absolute;
	left: 0;
	transition: all 0.2s ease;
}

#screens.close
{
	overflow: hidden;
	left: 260px;
}

#blind
{
	display: block;
	opacity: 0;
	background: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	transition: all 0.2s ease;
	z-index: 999995;
}

#blind.open
{
	opacity: 0.9;
	z-index: 999997;
}

.screen
{
	overflow: hidden;
	background: transparent repeat center center;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	position: relative;
	z-index: 999995;
}

.screen > .wrapper
{
	display: block;
	max-width: 980px;
	margin: 0 auto;
	padding: 20px 10px;
}

.icon
{
	display: block;
	width: 70px;
	height: 70px;
	position: relative;
}

.icon:before
{
	display: block;
	color: #fff;
	font-family: 'Fontawesome';
	font-size: 22px;
	line-height: 70px;
	text-align: center;
	width: 70px;
	position: absolute;
	left: 0;
	top: 0;
}

.icon.clipboard:before
{
	content: '\f328';
	color: #38ecff;
}

.icon.clock:before
{
	content: '\f017';
	color: #e2a961;
}

.icon.star:before
{
	content: '\f005';
	color: #fce837;
}

.icon.check:before
{
	content: '\f058';
	color: #91f7cf;
}

.icon.trash:before
{
	content: '\f2ed';
	color: #f67f8a;
}

.screen
{
	display: none;
}

.screen .logo
{
	width: 118px;
	height: 77px;
	margin: 0 auto 25px;
}

.screen .logo img
{
	width: 100%;
}

/* Menu */
#menu
{
	overflow-x: hidden;
	overflow-y: auto;
	background: #1c2a47;
	width: 260px;
	position: fixed;
	left: -260px;
	top: 0;
	bottom: 0;
	transition: all 0.2s ease;
	z-index: 999998;
}

#menu > .wrapper
{
	width: 100%;
	min-height: calc(100% - 100px);
	padding: 0 0 100px;
	position: relative;
}

#menu.open
{
	left: 0;
}

#menu .list
{
	display: block;
}

#menu .list li
{
	border-bottom: 1px solid #253350;
}

#menu .list .icon
{
	float: left;
}

#menu .list > li a
{
	display: block;
	color: #c3cbd3;
	font-size: 16px;
	font-weight: 600;
	line-height: 70px;
	text-decoration: none;
}

#menu .list > li.active > a
{
	background: #3e5078;
}

#menu .categories > li:last-child
{
	border: 0;
}

#menu .categories > li > a
{
	font-weight: 300;
	padding-left: 80px;
}

#menu .footer
{
	border-top: 1px solid #253350;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#menu .footer > .inner
{
	padding: 10px 15px;
	height: 60px;
}

#menu .footer .user
{
	float: left;
	width: 170px;
}

#menu .footer .user .user-pic
{
	overflow: hidden;
	float: left;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

#menu .footer .user .user-pic img
{
	width: 100%;
	height: auto;
}

#menu .footer .user .user-name
{
	display: block;
	color: #c3cbd3;
	font-size: 16px;
	font-weight: 600;
	line-height: 60px;
	text-decoration: none;
	margin-left: 75px;
}

#menu .footer .settings-btn
{
	float: right;
	display: block;
	width: 60px;
	height: 60px;
	position: relative;
}

#menu .footer .settings-btn:before
{
	display: block;
	content: '\f013';
	color: #87a1b9;
	font-family: 'Fontawesome';
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	width: 60px;
	position: absolute;
	left: 0;
	top: 0;
}

#menu-btn
{
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#menu-btn:before
{
	display: block;
	content: '\f0c9';
	color: #1e90ff;
	font-family: 'Fontawesome';
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	width: 60px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999996;
}

/* Main */
#main.screen
{
	display: block;
}

#main.screen .buttons
{
	width: 100%;
	margin: -10px 0;
}

#main.screen .buttons > li
{
	padding: 10px 10px;
}

#main.screen .buttons > li > a
{
	display: block;
	background: #1E90FF;
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	line-height: 20px;
	border-radius: 4px;
	padding: 10px 20px;
}

/* Info */
#info.screen
{
	/**/
}

#info.screen .count
{
	background: #1E90FF;
	color: #fff;
	font-size: 64px;
	font-weight: 600;
	line-height: 90px;
	text-align: center;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}

#info.screen .note
{
	color: #999;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	width: 250px;
	margin: 15px auto;
}

#info.screen .time
{
	color: #222;
	font-size: 38px;
	font-weight: 600;
	line-height: 42px;
	text-align: center;
	margin: 0 0 20px;
}

#info.screen .buttons
{
	/**/
}

#info.screen .buttons .row
{
	/**/
}

#info.screen .buttons .col
{
	padding: 0 10px;
}

#info.screen .buttons a
{
	display: block;
	background: #fff;
	color: #1E90FF;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	line-height: 16px;
	border: 2px solid #1E90FF;
	border-radius: 4px;
	padding: 10px 20px;
}

#info.screen .buttons a.active
{
	background: #1E90FF;
	color: #fff;
}

#info.screen #map-link
{
	display: block;
	height: 320px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999994;
}

#info.screen #map
{
	border-top: 1px solid #ccc;
	height: 320px;
	margin: 25px -15px -20px;
}

/* Underconstruction */
#underconstruction.screen .text
{
	padding: 50px 0 0;
}

#underconstruction.screen .text p
{
	color: #999;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin: 0 0 10px;
}